
barter.li/barter.li.xcodeproj/xcuserdata/snoronha.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

barter.li/barter.li.xcodeproj/xcuserdata/snoronha.xcuserdatad/xcschemes/Barter.Li.xcscheme

barter.li/barter.li.xcodeproj/project.xcworkspace/xcuserdata/snoronha.xcuserdatad/UserInterfaceState.xcuserstate
